*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 1);
    font-family: Arial, sans-serif;
}

.profile{
    width:720px ;
    margin: 40px auto;
    display: flex;
    gap: 30px 40px;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.info h1{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.settings{
    border: none;
    background: none;
    cursor: pointer;
}

.settings img{
    width: 20px;
    height: 20px;
}

.details{
    display: flex;
    gap: 24px;
    font-size:16px;
    margin-bottom:18px;
}

.details span{
    white-space: nowrap;
}
.bio{
    font-size: 15px;
    margin-bottom: 35px;
}

.name{
    font-size: 16px;
    margin-bottom: 8px;
}

.buttons{
    display: flex;
    width: 100%;
    gap: 12px;
}

.buttons button{
    flex: 1;
    padding: 6px;
    border: none;
    background-color: #eef0f3;
    cursor: pointer;
    font-size:14px;
    font-weight: 500;
    border-radius: 10px;
}